<!DOCTYPE  HTML>
<html>
  <head> <title> Your Soul Food </title> </head>
  <body>
    <h1> Where should you eat? </h1>
    <br>
    <h2> Do you ever want to go out to eat, but you don't know of a restaurant that will accomodate your dietary restrictions? Do you ever get so lazy that you don't want to drive to the other side of the valley for delicious food? Here is your solution! This survey will help you find the perfect restaurant so you don't have to search any longer. </h2>
    <br>
    <br>
    
    <p class = "Location1">
      Scottsdale
      <img src = "">
    </p>
    
    <p class = "Location2">
      Tempe
      <img src = "">
    </p>
    
    <p class = "Phoenix">
      Phoenix
      <img src = "">
    </p>
  </body>
  
</html>