 <!DOCTYPE HTML>
 <html>
   <head>
     <title>Meal of Choice</title>
   </head>
   
   <body>
      <p class = "Time1">
        Breakfast
        <img src = "https://3mp1iy3dqifc108ldv2hvkzv-wpengine.netdna-ssl.com/wp-content/uploads/2016/09/A-variety-of-delicious-breakfast-foods-on-a-table-1000x576.jpg">
      </p>
      
      <p class = "Time2">
        Lunch
        <img src = "">
      </p>
      
      <p class = "Time3">
        Dinner
        <img src = "">
      </p>
       <p class = "Time4">
        Dessert
        <img src = "">
      </p>
      
      <p class = "Time5">
        Juices
        <img src = "">
      </p>
    </body>
</html>
  